---
title: Welcome to Stylus
---

<div id="banner" class="padded">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="appearIn">
          <h1>Styl.us</h1>
          <p>
            Turn your pen into you best friend
            Make every line you write count..
          </p>
          <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#orderForm">
            GET YOUR STYLUS
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center" id="down-first-banner">
    <a href="#features">
      <i class="fa fa-angle-down angle-down pulse"></i>
    </a>
  </div>
</div>

<div class="bg-blue padded" id="features">
  <div class="container text-center">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="card">
          <%= image_tag "paper.png" %>
          <h2>Natural writing</h2>
          <p>
            Don't change your habits, write with a pen on paper notebooks
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="card">
          <%= image_tag "computer.png" %>
          <h2>Sync. copy</h2>
          <p>
            Stylus instantaneously copy your text on your computer, in real-time
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="card">
          <%= image_tag "pie-chart.png" %>
          <h2>Analytics</h2>
          <p>
            Get feedbacks on the way you write, your favorite words, your frequent mistakes
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="card">
          <%= image_tag "database.png" %>
          <h2>Storing your texts</h2>
          <p>
            Everything line writen with your stylus is stored in the cloud, so that it's never lost
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center" id="down-second-banner">
    <a href="#newsletter">
      <i class="fa fa-angle-down angle-down pulse"></i>
    </a>
  </div>
</div>

<div id="newsletter" class="text-center padded">
  <h2>Get news from stylus</h2>
  <p>
    Leave us your mail and get stylus news
  </p>
  <form action="" class="form-inline bar">
    <input type="email" class="form-control" placeholder="blabla@test.com">
    <input type="submit" value="Subscribe" class="btn btn-primary">
  </form>
  <div class="text-center" id="down-third-banner">
    <a href="#testimonials">
      <i class="fa fa-angle-down angle-down pulse"></i>
    </a>
  </div>
</div>

<div id="testimonials" class="padded">
  <div class="container">
    <div class="row">
        <% data.testimonials.each do |testimonial| %>
              <div class="col-xs-12 col-sm-6 text-center">
                <div class="testimonial slideUp">
                  <%= image_tag testimonial.image_file, class:"img-circle" %>
                  <h3><%= testimonial.name %></h3>
                  <p><%= testimonial.content %></p>
                </div>
              </div>
        <% end %>
    </div>
  </div>
  <div class="text-center" id="down-fourth-banner">
    <a href="#map">
      <i class="fa fa-angle-down angle-down pulse"></i>
    </a>
  </div>
</div>

<div id="map" style="width: 100%; height: 400px;"></div>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

<script type="text/javascript">
var myLatlng = new google.maps.LatLng(48.852937,2.364178);

var myOptions = {
  zoom: 16,
  center: myLatlng,
  scrollwheel: false,
  mapTypeId: google.maps.MapTypeId.ROADMAP,
  styles: [{"featureType":"administrative","elementType":"labels.text.fill","stylers":[{"color":"#444444"}]},{"featureType":"administrative.country","elementType":"all","stylers":[{"visibility":"on"}]},{"featureType":"administrative.province","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"administrative.locality","elementType":"labels.text.fill","stylers":[{"color":"#484848"}]},{"featureType":"administrative.locality","elementType":"labels.text.stroke","stylers":[{"color":"#ffffff"}]},{"featureType":"administrative.neighborhood","elementType":"labels.text","stylers":[{"visibility":"on"},{"color":"#484848"}]},{"featureType":"landscape","elementType":"all","stylers":[{"color":"#f2f2f2"},{"visibility":"on"}]},{"featureType":"landscape","elementType":"labels.text","stylers":[{"color":"#948f8f"},{"visibility":"off"}]},{"featureType":"landscape","elementType":"labels.text.fill","stylers":[{"visibility":"off"}]},{"featureType":"landscape.natural.terrain","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"poi","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"road","elementType":"all","stylers":[{"saturation":-100},{"lightness":45}]},{"featureType":"road.highway","elementType":"all","stylers":[{"visibility":"simplified"}]},{"featureType":"road.arterial","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"transit","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"all","stylers":[{"color":"#8ea2aa"},{"visibility":"on"}]},{"featureType":"water","elementType":"labels.text","stylers":[{"color":"#ffffff"}]},{"featureType":"water","elementType":"labels.text.fill","stylers":[{"color":"#ffffff"},{"visibility":"off"}]},{"featureType":"water","elementType":"labels.text.stroke","stylers":[{"color":"#484848"},{"saturation":"0"},{"visibility":"off"}]}] // TODO: replace [] by array from https://snazzymaps.com/
};

var map = new google.maps.Map(document.getElementById('map'), myOptions);
var marker = new google.maps.Marker({
  position: myLatlng,
  map: map,
  title: "You are here!"
});
</script>



<!-- Modal -->
<div class="modal fade" id="orderForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Order your stylus</h4>
      </div>
      <div class="modal-body">
        <form action="">
          <div class="row">
            <div class="col-xs-6">
              <div class="form-group">
                <label for="firstname">Prénom</label>
                <input type="text" class="form-control" placeholder="prénom" id="firstname">
              </div>
            </div>
            <div class="col-xs-6">
              <div class="form-group">
                <label for="lastname">Nom</label>
                <input type="text" class="form-control" placeholder="nom" id="lastname">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" placeholder="bob@gmail.com" id="email">
          </div>
          <input type="submit" value="order" class="btn btn-primary btn-lg">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<!-- Scroll Reveal -->
<script>
  // Changing the defaults
  window.sr = ScrollReveal({ reset: true });

  // Customizing a reveal set
  sr.reveal( '.card', {delay: 200, duration: 500 } );
  sr.reveal( '#newsletter', {delay: 200, duration: 500 } );
</script>

